@font-face {
  font-family: 'Popins 700';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Popins 800';
  src: url('./assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Popins 800 Italic';
  src: url('./assets/fonts/Poppins-BoldItalic.ttf');
}

@font-face {
  font-family: 'Popins 400 Italic';
  src: url('./assets/fonts/Poppins-Italic.ttf');
}


:root {
  /* Primary colors */
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --line: #DCDCDC;

}

@media (max-width: 740px) {
  /* CSS styles for mobile devices */
 

}